-- ============================================
-- FACEBOOK AUTOMATION TABLES - Generated from Prisma Schema
-- Date: 2025-12-23T14:35:52.476Z
-- ============================================

-- 1. facebook_connection
CREATE TABLE IF NOT EXISTS facebook_connection (
  id VARCHAR(36) PRIMARY KEY,
  user_access_token TEXT NOT NULL,
  token_expires_at TIMESTAMPTZ,
  scopes TEXT[] DEFAULT ARRAY[]::TEXT[],
  status VARCHAR(20) DEFAULT 'active',
  last_verified_at TIMESTAMPTZ,
  created_at TIMESTAMPTZ DEFAULT NOW(),
  updated_at TIMESTAMPTZ DEFAULT NOW()
);

-- 2. facebook_pages
CREATE TABLE IF NOT EXISTS facebook_pages (
  id VARCHAR(36) PRIMARY KEY,
  page_id VARCHAR(50) UNIQUE NOT NULL,
  page_name VARCHAR(255) NOT NULL,
  page_access_token TEXT NOT NULL,
  category VARCHAR(100),
  follower_count INTEGER,
  automation_enabled BOOLEAN DEFAULT TRUE,
  status VARCHAR(20) DEFAULT 'active',
  last_sync_at TIMESTAMPTZ,
  created_at TIMESTAMPTZ DEFAULT NOW(),
  updated_at TIMESTAMPTZ DEFAULT NOW()
);

CREATE INDEX IF NOT EXISTS idx_fb_pages_page_id ON facebook_pages(page_id);

-- 3. auto_reply_rules
CREATE TABLE IF NOT EXISTS auto_reply_rules (
  id VARCHAR(36) PRIMARY KEY,
  name VARCHAR(255) NOT NULL,
  page_id VARCHAR(36) NOT NULL,
  post_id VARCHAR(100),
  trigger_type VARCHAR(20) DEFAULT 'all',
  keywords TEXT[] DEFAULT ARRAY[]::TEXT[],
  exclude_keywords TEXT[] DEFAULT ARRAY[]::TEXT[],
  reply_templates TEXT[] DEFAULT ARRAY[]::TEXT[],
  priority INTEGER DEFAULT 0,
  enabled BOOLEAN DEFAULT TRUE,
  created_at TIMESTAMPTZ DEFAULT NOW(),
  updated_at TIMESTAMPTZ DEFAULT NOW(),
  FOREIGN KEY (page_id) REFERENCES facebook_pages(id) ON DELETE CASCADE
);

CREATE INDEX IF NOT EXISTS idx_reply_rules_page_post ON auto_reply_rules(page_id, post_id);

-- 4. auto_message_rules
CREATE TABLE IF NOT EXISTS auto_message_rules (
  id VARCHAR(36) PRIMARY KEY,
  name VARCHAR(255) NOT NULL,
  page_id VARCHAR(36) NOT NULL,
  trigger_on TEXT[] DEFAULT ARRAY['comment']::TEXT[],
  message_template TEXT NOT NULL,
  cooldown_minutes INTEGER DEFAULT 1440,
  enabled BOOLEAN DEFAULT TRUE,
  created_at TIMESTAMPTZ DEFAULT NOW(),
  updated_at TIMESTAMPTZ DEFAULT NOW(),
  FOREIGN KEY (page_id) REFERENCES facebook_pages(id) ON DELETE CASCADE
);

CREATE INDEX IF NOT EXISTS idx_message_rules_page ON auto_message_rules(page_id);

-- 5. facebook_events
CREATE TABLE IF NOT EXISTS facebook_events (
  id VARCHAR(36) PRIMARY KEY,
  event_type VARCHAR(50) NOT NULL,
  page_id VARCHAR(50) NOT NULL,
  post_id VARCHAR(100),
  comment_id VARCHAR(100),
  user_id VARCHAR(50),
  dedupe_key VARCHAR(255) UNIQUE NOT NULL,
  payload JSONB NOT NULL,
  status VARCHAR(20) DEFAULT 'received',
  processed_at TIMESTAMPTZ,
  created_at TIMESTAMPTZ DEFAULT NOW()
);

CREATE INDEX IF NOT EXISTS idx_fb_events_page_time ON facebook_events(page_id, created_at);
CREATE INDEX IF NOT EXISTS idx_fb_events_dedupe ON facebook_events(dedupe_key);

-- 6. automation_queue
CREATE TABLE IF NOT EXISTS automation_queue (
  id VARCHAR(36) PRIMARY KEY,
  job_type VARCHAR(50) NOT NULL,
  page_id VARCHAR(50) NOT NULL,
  target_id VARCHAR(100) NOT NULL,
  payload JSONB NOT NULL,
  scheduled_at TIMESTAMPTZ DEFAULT NOW(),
  attempts INTEGER DEFAULT 0,
  max_attempts INTEGER DEFAULT 3,
  status VARCHAR(20) DEFAULT 'pending',
  error TEXT,
  completed_at TIMESTAMPTZ,
  created_at TIMESTAMPTZ DEFAULT NOW()
);

CREATE INDEX IF NOT EXISTS idx_queue_status_scheduled ON automation_queue(status, scheduled_at);
CREATE INDEX IF NOT EXISTS idx_queue_page ON automation_queue(page_id);

-- 7. automation_logs
CREATE TABLE IF NOT EXISTS automation_logs (
  id VARCHAR(36) PRIMARY KEY,
  action_type VARCHAR(50) NOT NULL,
  page_id VARCHAR(50) NOT NULL,
  post_id VARCHAR(100),
  target_id VARCHAR(100),
  rule_id VARCHAR(36),
  content_sent TEXT,
  status VARCHAR(20) NOT NULL,
  metadata JSONB,
  created_at TIMESTAMPTZ DEFAULT NOW()
);

CREATE INDEX IF NOT EXISTS idx_logs_page_time ON automation_logs(page_id, created_at);
CREATE INDEX IF NOT EXISTS idx_logs_action_status ON automation_logs(action_type, status);

-- 8. page_stats
CREATE TABLE IF NOT EXISTS page_stats (
  page_id VARCHAR(50) NOT NULL,
  date DATE NOT NULL,
  comments_total INTEGER DEFAULT 0,
  replies_sent INTEGER DEFAULT 0,
  messages_sent INTEGER DEFAULT 0,
  reactions_total INTEGER DEFAULT 0,
  failed_jobs INTEGER DEFAULT 0,
  PRIMARY KEY (page_id, date)
);

CREATE INDEX IF NOT EXISTS idx_page_stats_page_date ON page_stats(page_id, date);

-- 9. rate_limits
CREATE TABLE IF NOT EXISTS rate_limits (
  key VARCHAR(255) PRIMARY KEY,
  count INTEGER DEFAULT 0,
  reset_at TIMESTAMPTZ NOT NULL
);

-- 10. user_cooldowns
CREATE TABLE IF NOT EXISTS user_cooldowns (
  page_id VARCHAR(50) NOT NULL,
  user_id VARCHAR(50) NOT NULL,
  last_message_at TIMESTAMPTZ NOT NULL,
  PRIMARY KEY (page_id, user_id)
);

-- ============================================
-- Success! All tables created.
-- ============================================

